body {
    padding: 100px;
}

.submit-area {
    margin-top: 50px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px grey;
}

#transaction-area {
    display: none;
}

.deposit {
    background: slateblue;
}

.withdraw {
    background: lightsalmon;
}

.balance {
    background: orange;
}

.status {
    margin: 0 20px;
    padding: 10%;
    color: white;
    border-radius: 10px;
    margin-top: 15px;
}

/* Responsive Design */
@media screen and (max-width:600px) {
    .status {
        padding: 10px;
    }
}